/Lab1/nbproject/private/
/Lab1/build/
/Lab1/dist/
/Lab2/nbproject/private/
/Lab2/build/
/BTH2/nbproject/private/
/BTH2/build/
/BTVN/71/nbproject/private/
/BTVN/71/build/
/BTVN/72/nbproject/private/
/BTH3/nbproject/private/
/BTH3/build/
/BTH5/nbproject/private/
/BTH5/build/